    body {
        font-family: sans-serif;
        font-size: 110%;
    }

    #jwaDate {
        text-align: right;
    }
    
    #grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
    }
    
    #grid > div {
        padding: .3em;
        border: medium ridge CornflowerBlue;
    }
